# FastAPI
MODEL_PATH=outputs/models/efficientnet_b0_best.pth
ALLOWED_ORIGINS=http://localhost:3000
MAX_UPLOAD_SIZE_MB=10
ENABLE_GRADCAM=false

# Next.js
NEXT_PUBLIC_API_BASE_URL=http://localhost:8000
